<ion-header style="background-color: #ff7507;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Security</ion-title>
 </ion-toolbar>
</ion-header>


<ion-content>

	<div style="width:100%; display:flex; justify-content:center; align-items:center; padding:25px; border-bottom:1px solid #eee; flex-direction:column;">
	<div style="width:150px; height:150px; border-radius:50%; border:5px solid #F5F5F5; margin:0 auto; display:flex; justify-content:center; align-items:center; background:#eee;">
		<ion-icon ios="ios-key" md="md-key" style="font-size:55px; color:#09c;"></ion-icon>
	</div>
	
	<p style="font-size:15px; color:#333;">
		Vos cartes de visite et collections sont protégés par un chiffrement de 256 bits, ce qui signifie que ni toget-me ni des tierces parties ne peuvent les lire ou les collectionner sans votre approbation préalable dans vos parametres de configuration.
		<a href="https://www.toget-me.pro" target="_blank" style="color:#09c; text-decoration:none;"> Lire plus ... </a>
	</p>
	</div>



	<div style="width:100%; display:flex; justify-content:left;  padding:25px; flex-direction:column;">
		<span style="color:#000; "> Notification de sécurité de <b> toget-me  </b> </span>
	<p style="font-size:15px; color:#aaa; text-alignz:center;">
		Vous recevrez automatiquement des notifications de securité en cas de d'atteinte ou de tentative d'intrusion de sécurité. Ce paramètre est auto activé et non désactivable. merci pour votre compréhension.
		<a href="https://www.toget-me.pro" target="_blank" style="color:#09c; text-decoration:none;"> Lire plus ... </a>
	</p>
	</div>

</ion-content>
