<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/accueil"></ion-back-button>
  </ion-buttons>

    <ion-title>
     <h2>Ma collection</h2> 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list >
      <app-modele-carte [userFilter]="userFilter" (share)="share($event)"
                        (supprimer)="supprimer($event)"
                        [allData]="modeles" [Verify]="true" [actionS]="true">
      </app-modele-carte>

  </ion-list>
 
</ion-content>
