<!-- <ion-header>
  <ion-toolbar>
    <ion-title>presentation</ion-title>
  </ion-toolbar>
</ion-header> -->
<!-- <div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/logo.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div> -->
<ion-content padding color="secondary">
    <div class="md-cards">
        <div class="md-card-cont">
          <div class="tlt" style="border: 0%">      
          </div>
          <ion-slides  class="demo-card"  style="margin-top: 100px"  >
            <ion-slide *ngFor="let img of image; let i=index" autoplay= 1000>
              <ion-card-content>
                <img class="md-img" [src]="img.image" draggable="true">
                <ion-card-title>{{img.title}}</ion-card-title>
                <ion-card-subtitle>{{img.dev}}</ion-card-subtitle>
                <ion-button [ngClass]="{'botn' : 2>i}" (click)="goTo()">
                 Suivant
                </ion-button>
                  <div class="md-rank" style="margin-top: 40px">{{img?.rank}}</div>
              </ion-card-content>
            </ion-slide>
          </ion-slides>
        </div>
      </div>
</ion-content>
<!-- [routerLink]="['/accueil'] -->
