<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <div class="carte modele-1">
        <div class="modele-1-top">
            <div class="logo-zone">
                <div class="logo">
                    <img src="" alt="LOGO">
                </div>
                <span class="nom-entreprise">
                    Entreprise
                </span>
            </div>
            <div class="personne-info">
                <div class="nom-personne">
                    <h2 class="nom">Nom Prénom</h2>
                </div>
                <div class="fonction-personne">
                    <span class="fonction">Fonction</span>
                </div>
            </div>
        </div>
        <div class="modele-1-down">
            <div class="down-row">
                <div class="adresse-societe">
                    <p class="situation">Cocody Angré </p>
                </div>
                <div class="adresse-personne">
                    <p class="site">
                        Site web entreprise
                    </p>
                    <p class="email">
                        Mon email
                    </p>
                    <p class="boite">
                        Boite postalle
                    </p>
                    <p class="telephone">
                        Mon telephone
                    </p>
                    <p class="mobile">
                        Mon mobile
                    </p>
                </div>
            </div>
            <div class="down-row">
                <p class="slogan">Mon slogan</p>
            </div>
        </div>
    </div>
</body>
</html>