<!-- <ngx-loading-bar></ngx-loading-bar> -->
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<div *ngIf="loading == true" style="position:fixed; left:0; right:0; top:0; bottom:0; background:#fff; display:flex; justify-content:center; align-items:center; flex-direction: column;">
<div class="hi-icon-wrap hi-icon-effect-8" style="width:300px; position:absolute; display:flex; align-items:center; justify-content:center; top:-150px; right:0; left:0; margin:0 auto; z-index:-1; border-radius:50%; height:300px; background:#01b0f1;">

    <a href="#" (click)="false;" class="hi-icon" style="color:#fff;"></a>


  
</div>
<img src="assets/logo/logo.png" style="margin-top: -100px; z-index:555;">
<span style="z-index:555;"> chargement des composants </span>
<ion-spinner name="dots"></ion-spinner>
</div>

