<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'Mes cartes de visites'}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <app-modele-carte 
      (share)="share($event)"
      (supprimer)="supprimer($event)"
      [allData]="cartes" [Verify]="true" [actionS]="true">
    </app-modele-carte>
  </ion-list>
  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>